*{ margin:0; padding:0;}
body{
	font:14px/1.5 AppleGothic,Arial,'Microsoft Yahei','Simsun';
	font-family:"Microsoft YaHei" !important;
	line-height:160%;
	color:#333;
	background:#e8e9eb;
	width:100%; height:100%;
	/* [disabled]height:100%; */
}
body,html,p,h1,h2,h3,h4,h5,h6,dl,dd,dt,ul,li,input{padding:0; margin:0; font:14px/1.5 AppleGothic,Arial,'Microsoft Yahei','Simsun'; font-family:"Microsoft YaHei" !important; }
dl,dd,dt,ul,li{list-style:none; }
a:link,a:visited,a:hover,a:active{text-decoration:none;}
a{color:#333; text-decoration:none; }
a:hover {color:#85c6ec; }

/*鍐呰竟璺濓紝澶栬竟璺�/
.p20{padding:20px;}.pt20{padding-top:20px;}.pr20{padding-right:20px;}.pb20{padding-bottom:20px;}.pl20{padding-left:20px;}
.p15{padding:15px;}.pt15{padding-top:15px;}.pr15{padding-right:15px;}.pb15{padding-bottom:15px;}.pl15{padding-left:15px;}
.p10{padding:10px;}.pt10{padding-top:10px;}.pr10{padding-right:10px;}.pb10{padding-bottom:10px;}.pl10{padding-left:10px;}
.p5{padding:5px;}.pt5{padding-top:5px;}.pr5{padding-right:5px;}.pb5{padding-bottom:5px;}.pl5{padding-left:5px;}
.p0{padding:0 !important;}.pt0{padding-top:0 !important;}.pr0{padding-right:0 !important;}.pb0{padding-bottom:0 !important;}.pl0{padding-left:0 !important;}
.m20{margin:20px;}.mt20{margin-top:20px;}.mr20{margin-right:20px;}.mb20{margin-bottom:20px;}.ml20{margin-left:20px;}
.m15{margin:15px;}.mt15{margin-top:15px;}.mr15{margin-right:15px;}.mb15{margin-bottom:15px;}.ml15{margin-left:15px;}
.m10{margin:10px;}.mt10{margin-top:10px;}.mr10{margin-right:10px;}.mb10{margin-bottom:10px;}.ml10{margin-left:10px;}
.m5{margin:5px;}.mt5{margin-top:5px;}.mr5{margin-right:5px;}.mb5{margin-bottom:5px;}.ml5{margin-left:5px;}
.m0{margin:0!important;}.mt0{margin-top:0!important;}.mr0{margin-right:0!important;}.mb0{margin-bottom:0!important;}.ml0{margin-left:0!important;}
.mmtt{ margin-top:124px; }
.f10{font-size:10px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:15px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f34{font-size:34px;}
.f40{ font-size:40px;}
.font_red{ color:#d71921;}
.font_gy{ color:#c2c2c2;}
.none{ display:none;}
.bold{ font-weight:bold;}
.wapr{ width:100%; height:100%;}
.fillet_5{-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;     }


.w1{width:10%}
.w2{width:20%}
.w3{width:30%}
.w3_3{width:36%}

.w4{width:40%}
.w5{width:50%}
.w6{width:60%}
.w7{width:70%};
.w8{width:80%}
.w9{width:90%; margin:0 auto; }
.w10{width:100%;}
.bac_white{ background:#FFF; width:100%;}
.bac_blue{ background:#85c6ec; }

.font_blue{ color:#85c6ec;}
.font_ash{ color:#ccc;}
.font_wit{ color:#FFF;}
.normal{ font-weight:normal;}
.row_1{ margin-left:-15px; margin-right:0px;}



/*================================================================================================棣栭〉*/
#min_top{ height:70px; background:#20335d; position:relative; padding-top:36px;}
.logo{ position:absolute; left:20px; top:18px;}
.top_sta{color:#FFF;}

.top_box{ background:#434343; border:none; -moz-border-radius:15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px; height:32px; line-height:32px; margin-right:8px; padding-left:38px; width:80%; color:#d9d9d9;}

#div2{height:100%; width:100%; float:left; height:600px;}

.m_position{ height:40px; line-height:40px; background:#d7d7d9; padding-left:20px;}

/*right*/
.Ranking_list  li{ margin-top:20px; margin-bottom:5px; padding-left:20px; position: relative; font-size:15px;}
.Ranking_list  li img{ width:42px; height:42px;}
.Ranking_font{ font-size:30px; color:#cc0000; position:absolute; left:0;}
.w_90{ width:90px; text-align:center; }
.fre{ position: absolute; right:0;}
.colour_green{ background:#45dd8a; padding:3px;}
.colour_red{ background:#f34336; padding:3px;}
.colour_blue{ background:#9ca6ca; padding:3px;}


/*涓棿閮ㄥ垎*/
.Statis{ margin-left:-15px; clear:both; color:#FFF;}
.Statis ul li{ float:left; width:18.2%; height:86px; margin-left:15px; margin-bottom:10px; padding:0px 10px 10px 10px; position:relative;}
.Statis ul li img{ width:34px; height:30px; position:absolute; left:10px; top:10px;}
.Statis_1{ background:#e7191b;}
.Statis_2{ background:#f2ae43;}
.Statis_3{ background:#28b779;}
.Statis_4{ background:#27a9e3;}
.Statis_5{ background:#c180e6;}


.Chart{ }
.h300{ height:340px; padding:10px;}
.h300 img{ width:100%; height: auto;}
.h_140{ height:165px; padding:10px;}
.h_140 img{ width:100%; height:auto;}
.w4_4{ width:39%;}




.accordion {width: 100%;
 	
 }

.accordion .link {
	cursor: pointer; background:#f9f9f9; margin-top:10px;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-angle-double-down {
	right: 12px;
	left: auto;
	font-size:24px;
}

.accordion li.open .link {}
.accordion li.open i {}
.accordion li.open i.fa-angle-double-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #ffffff;
 	font-size: 14px; padding:2px 10px 10px 10px;
 }

 .submenu li {
  height:32px; line-height:32px; position:relative; margin-top:10px;
 }
 .btn_dian{ position:absolute; right:0; top:-13px;}

.submenu li img{ width:25px; height:25px; margin-right:4px;}
 .submenu li span{ display:inline-block;}
 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 
 }




/*===================================================================================left*/
#min_left{height:100%; width:230px;  float:left ; position:relative;}

.menu_list{width:230px;height: 692px;margin-top: 1px;background: #20335d;}
.menu_head{ height:49px; line-height:40px; padding-left:38px; padding-top:5px; font-size:14px;color:#fff;cursor:pointer; position:relative;font-weight:bold; background:#20335d; }
.menu_head i{ margin-right:5px;}

.menu_list .current{ background:#111b34;}
.menu_body{width:100%; height:auto;overflow:hidden;line-height:38px;backguound:#fff;}
.menu_body a{display:block; width:100%; height:38px;line-height:38px;padding-left:70px; color:#fff; background: url(../images/line.jpg) no-repeat 42px center #111b34; text-decoration:none; }
.menu_body a:hover{text-decoration:none;}


/*lefttop*/

.left_head{ background:url(../images/pope.jpg) no-repeat no-repeat; width:207px; height:111px; padding:20px 10px 10px 10px; color:#FFF;}
.Head_img{ width:72px; height:72px; }
.Head_img img{ width:86px; height:37px; border:2px solid #b2dbf8; margin-top: 21px;}
.Head_text{ width:110px; padding-top:20px; padding-left: 15px;}




/*鍒楄〃椤�/
.table{ background:#FFF;}
.table thead{ background:#e5e5e5;}

.operation_icon span{ display:inline-block; margin-right:20px;}
.operation_icon span img{ margin-top:6px;}



